{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 38, "knowledge_revision": 73, "git_revision": "", "hash": "7645afa2e98f8caee9712d9d5cddb2d8", "format-version": 4, "code-base-name": "default", "filename": "django_backend_workspace/django_backend/requirements.txt", "revision_history": [{"73": ""}]}